<!DOCTYPE html>
<html lang="en">

<head>
    <title>Site Login</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }
    
    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
</style>

<body>
    Design your profile page!!
    <div class="toprightcontainer"></div>
    Welcome user u are registered as a guide..


    <h2> Upcoming tours ...display alert box</h2>
    <div id="overlay" onclick="off()">
        <div id="text">Location : Date : Time : Contact: </div>
    </div>
    <div style="padding:20px">
        <h2>Overlay with Text</h2>
        <button onclick="on()">Upcoming tours</button>
    </div>

    <script>
        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }
    </script>


    Update you schedule !!
    <a href="/update_profile_page_display">Update my profile</a>


</body>

</html>